body {
  background-color: #35654d;
}

.Deck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealBtn {
  margin-top: 25px;
  margin-bottom: 200px;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 100px;
}

.dealBtn:hover {
  background-color: grey;
}

.allCardsDrawnText {
  margin-top: 25px;
  margin-bottom: 200px;
  color: white;
}